body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
    background-image: url('https://happyhouse.guru/uploads/posts/2023-03/1678266672_happyhouse-guru-p-oboi-minimalizm-svetlie-krasivo-1.jpg'); 
    background-size: cover;
    background-position: center;
}

header {
    background-image: linear-gradient(to right, #333, #555); 
    color: white;
    padding: 15px;
}

h1 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.product-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product-table th {
    background: #333;
    color: white;
}

.product-table tr:nth-child(even) {
    background: #f2f2f2;
}

.product-table tr:hover {
    background: #ddd;
}

.product-table img {
    border-radius: 5px;
}

.product-table a:link {
    color: black;
    font-style: italic;
    text-decoration: none;
}

.product-table a:visited {
    color: purple;
    font-style: italic;
    text-decoration: underline;
}

.product-table a:hover {
    color: black;
    font-style: italic;
    background-color: #ffdd57; 
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
}

.product-table a:active {
    color: blue;
    font-style: italic;
    text-decoration: underline;
    background-color: #ffaaaa;
    padding: 2px 5px;
    border-radius: 5px;
}
